@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #022;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
}

.flex-container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 100vw;
  height: 100vh;
}

.flex-container.justify-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-container.justify-spaced {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-container.justify-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-container.direction-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-container.direction-row-nowrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.flex-container.direction-row-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.flex-container.direction-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-container.direction-column-nowrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.flex-container.direction-column-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.flex.landing {
  min-width: 100vw;
  height: 100vh;
}

.container {
  margin: 0.5rem;
  padding: 0.5rem;
}

.container-fluid {
  margin: 0.5rem;
  padding: 0.5rem;
  width: 100vw;
  height: 100vh;
}

.bg-primary {
  background: #41b3a3;
  color: #fff;
}

.bg-light {
  background: #85dcba;
  color: #333;
}

.bg-dark {
  background: #c38d9e;
  color: #333;
}

.bg-danger {
  background: #e27d60;
  color: #333;
}

.bg-success {
  background: #e8a87c;
  color: #333;
}

.bg-white {
  background: #ffffff;
  color: #333;
}

a:visited, a:active {
  color: #fff;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 1.8rem;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}

h4 {
  font-size: 1.3rem;
  margin: 0;
}

h5 {
  font-size: 1.1rem;
  margin: 0;
}

p {
  font-size: 1rem;
  margin: 0;
}

.image-category-title {
  margin: 2rem 2rem 0 4rem;
  color: white;
}

.container {
  margin-top: -0.8rem;
  margin-bottom: -1.5rem;
}

.navbar {
  position: fixed;
  width: 92vw;
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: 2px 2px 5px #000;
          box-shadow: 2px 2px 5px #000;
  opacity: 0.5;
  z-index: 3;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar:hover {
  opacity: 1;
}

.navbar .navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45vw;
  height: auto;
}

.navbar .navbar-searchbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55vw;
  height: auto;
}

.navbar .navbar-searchbox input[type='text'] {
  width: 35vw;
  height: 6vh;
  border-radius: 30px 30px 30px 30px;
  outline: none;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.navbar .navbar-searchbox button {
  background: #41b3a3;
  color: #fff;
  margin-left: 0.5rem;
  border: none;
  color: white;
  padding: 10px 12px;
  font-size: 1.4rem;
  cursor: pointer;
}

.navbar .navbar-searchbox button:hover {
  background: #85dcba;
  color: #333;
  border-radius: 50px;
}

.navbar h1 {
  text-shadow: 1px 1px 2px #e8a87c, 0 0 1em #e27d60, 0 0 0.2em #c38d9e;
}

img {
  width: 100vw;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.5;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
}

img:hover {
  opacity: 1;
}

.image-slider-title {
  background: #022;
  color: white;
  font-size: 3rem;
}

.arrow-directional {
  opacity: 0.5;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
}

.arrow-directional:hover {
  opacity: 1;
}

.card {
  max-width: 20vw;
  height: auto;
  margin: 1rem;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card .card-media {
  width: 20vw;
  opacity: 0.5;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
}

.card .card-media:hover {
  opacity: 1;
}

@media (max-width: 800px) {
  .container {
    max-width: 90vw;
  }
  .navbar {
    width: 88vw;
  }
  .navbar .navbar-logo {
    width: 15vw;
  }
  .navbar .navbar-logo h1.branding {
    margin-left: 2rem;
    font-size: 1.6rem;
    text-shadow: 1px 1px 2px #e8a87c, 0 0 1em #e27d60, 0 0 0.2em #c38d9e;
  }
  .navbar .navbar-searchbox {
    width: auto;
    height: auto;
  }
  .navbar .navbar-searchbox input[type='text'] {
    width: 35vw;
    height: 5vh;
  }
  .navbar .navbar-searchbox button[type='submit'] {
    width: 8vw;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .navbar .navbar-searchbox button[type='submit']:hover {
    background: none;
  }
  .navbar .navbar-searchbox button[type='submit'] i {
    padding-top: 0.5rem;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  .navbar .landing img {
    width: 100vw;
    max-height: 100vh;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .navbar .landing img .image-slider-title {
    background: #022;
    color: white;
  }
  .flex-container-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 95vw;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0;
    margin-bottom: 3rem;
  }
  .card {
    width: 18vw;
    height: 15vh;
  }
  .card img {
    width: 145px;
    height: 145px;
  }
}

@media (max-width: 650px) {
  .navbar {
    width: 90vw;
  }
  .image-slider-title {
    text-align: center;
    font-size: 1.7rem;
  }
  .flex-container-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 95vw;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .card {
    width: 18vw;
    height: 15vh;
  }
  .card img {
    width: 125px;
    height: 125px;
  }
}
