// Landing
.slider {
  width: 100vw;
  height: 100vh;
}

h1 {
  &.image-slider-title {
    position: absolute;
    top: 60%;
    left: 5%;
    background-color: none;
    margin-left: 2rem;
    color: white;
    font-size: 4rem;
    z-index: 1;
  }
}
