@import 'mixins';

@media (max-width: 800px) {
  // Utilities
  .container {
    max-width: 90vw;
  }

  // Navigation Bar

  .navbar {
    width: 88vw;

    .navbar-logo {
      width: 15vw;

      h1.branding {
        margin-left: 2rem;
        font-size: 1.6rem;
        text-shadow: 1px 1px 2px $success-color, 0 0 1em $danger-color,
          0 0 0.2em $dark-color;
      }
    }

    .navbar-searchbox {
      width: auto;
      height: auto;

      input[type='text'] {
        width: 35vw;
        height: 5vh;
      }

      button[type='submit'] {
        width: 8vw;
        height: auto;
        margin: 0;
        padding: 0;

        &:hover {
          background: none;
        }

        i {
          padding-top: 0.5rem;
          transform: scale(1.4);
        }
      }
    }

    // Landing
    .landing {
      img {
        width: 100vw;
        max-height: 100vh;
        background-position: cover;
        background-repeat: no-repeat;
        background-size: 100% 100%;

        .image-slider-title {
          background: $background-color;
          color: white;
        }
      }
    }
  }

  // Movie Section

  .flex-container-images {
    @include flex;
    width: 95vw;
    justify-content: space-evenly;
    margin: 0;
    margin-bottom: 3rem;
  }

  .card {
    width: 18vw;
    height: 15vh;

    img {
      width: 145px;
      height: 145px;
    }
  }
}

@media (max-width: 650px) {
  // Navbar
  .navbar {
    width: 90vw;
  }

  // Landing
  .image-slider-title {
    text-align: center;
    font-size: 1.7rem;
  }

  // Movie Section

  .flex-container-images {
    @include flex;
    width: 95vw;
    justify-content: space-evenly;
  }

  .card {
    width: 18vw;
    height: 15vh;

    img {
      width: 125px;
      height: 125px;
    }
  }
}
