@import 'mixins';

@media (max-width: 1100px) {
  h1 {
    &.image-slider-title {
      font-size: 2.5rem;
    }
  }
}

@media (max-width: 1050px) {
  // Small Laptop
}

@media (max-width: 800px) {
  // Navigation Bar

  .navbar {
    min-width: 70vw;

    .navbar-logo {
      min-width: 35vw;

      h1.navbar-branding {
        font-size: 1.9rem;
        text-shadow: 1px 1px 2px $success-color, 0 0 1em $danger-color,
          0 0 0.2em $dark-color;
      }
    }

    .navbar-searchbox {
      width: auto;
      height: auto;

      input[type='text'] {
        width: 35vw;
        height: 5vh;
      }

      button[type='submit'] {
        width: 8vw;
        height: auto;
        margin: 0;
        padding: 0;

        &:hover {
          background: none;
        }

        i {
          padding-top: 0.5rem;
          transform: scale(1.4);
        }
      }
    }
  }

  // Landing
  h1 {
    &.image-slider-title {
      top: 70%;
    }
  }

  // Movie Section

  .flex-container-images {
    @include flex;
    width: 95vw;
    justify-content: space-evenly;
    margin: 0;
    margin-bottom: 3rem;
  }

  .card {
    width: 18vw;
    height: 15vh;

    img {
      width: 145px;
      height: 145px;
    }
  }
}

@media (max-width: 650px) {
  // Navbar
  .navbar {
    min-width: 88vw;

    .navbar-logo {
      min-width: 40vw;
    }

    .navbar-searchbox {
      input[type='text'] {
        min-width: 25vw;
      }

      button[type='submit'] {
        width: 10vw;

        i {
          padding-top: 0.5rem;
          transform: scale(1.4);
        }
      }
    }
  }

  // Landing
  h1 {
    &.image-slider-title {
      font-size: 2rem;
    }
  }

  // Movie Section

  .flex-container-images {
    @include flex;
    width: 95vw;
    justify-content: space-evenly;
  }

  .card {
    width: 18vw;
    height: 15vh;

    img {
      width: 125px;
      height: 125px;
    }
  }
}

@media (max-width: 550px) {
  // Navigation Bar

  .navbar {
    min-width: 85vw;

    .navbar-logo {
      min-width: 40vw;

      h1.navbar-branding {
        padding-top: 0.3rem;
        font-size: 1.5rem;
        text-shadow: 1px 1px 2px $success-color, 0 0 1em $danger-color,
          0 0 0.2em $dark-color;
      }
    }

    .navbar-searchbox {
      width: auto;
      height: auto;

      input[type='text'] {
        width: 27vw;
        height: 2vh;
        font-size: 0.8rem;
      }

      button[type='submit'] {
        width: 8vw;
        height: auto;
        margin: 0;
        padding: 0;

        &:hover {
          background: none;
        }

        i {
          padding-top: 0.5rem;
          transform: scale(1.3);
        }
      }
    }
  }

  // Landing
  h1 {
    &.image-slider-title {
      text-align: center;
    }
  }

  // Showcase

  .card {
    margin: 1rem -0.1rem 1rem -0.1rem;
    min-width: 30vw;

    &:hover {
      transform: scale(2);
    }
  }
}
