@import 'mixins';

@media (max-width: 700px) {
  // Navigation Bar

  .navbar {
    .navbar-logo {
      width: 15vw;
      height: auto;

      h1.branding {
        margin-left: 2rem;
        font-size: 1.2rem;
        text-shadow: 1px 1px 2px $success-color, 0 0 1em $danger-color,
          0 0 0.2em $dark-color;
      }
    }

    .navbar-searchbox {
      width: auto;
      height: auto;

      input[type='text'] {
        width: 35vw;
        height: 5vh;
      }

      button[type='submit'] {
        width: 8vw;
        height: auto;
        margin: 0;
        padding: 0;

        &:hover {
          background: none;
        }

        i {
          padding-top: 0.5rem;
          transform: scale(1.4);
        }
      }
    }
  }
  // Landing

  img {
    width: 93vw;
    max-height: 95vh;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  // Movie Section

  .flex-container-images {
    @include flex;
    width: 95vw;
    justify-content: space-evenly;
    margin: 0;
    margin-bottom: 3rem;
  }

  .card {
    width: 18vw;
    height: 15vh;

    img {
      width: 145px;
      height: 145px;
    }
  }
}

@media (max-width: 650px) {
  // Movie Section

  .flex-container-images {
    @include flex;
    width: 95vw;
    justify-content: space-evenly;
  }

  .card {
    width: 18vw;
    height: 15vh;

    img {
      width: 125px;
      height: 125px;
    }
  }
}
