// Navigation Bar

.navbar-container {
  display: flex;
  justify-content: center;
  width: 100vw;

  .navbar {
    display: flex;
    position: fixed;
    max-width: 50vw;
    margin-top: 0.8rem;
    padding: 1rem;
    border: none;
    border-radius: 50px;
    box-shadow: 2px 2px 5px #000;
    opacity: 0.5;
    z-index: 3;
    @include ease-all;

    &:hover {
      opacity: 1;
    }

    .navbar-logo {
      display: flex;
      justify-content: center;
      width: 25vw;
      height: auto;
      @include ease-all;
    }

    .navbar-searchbox {
      display: flex;
      width: 35vw;
      height: auto;
      @include ease-all;

      input[type='text'] {
        width: 20vw;
        max-height: 4vh;
        margin-right: 1rem;
        border-radius: 30px 30px 30px 30px;
        outline: none;
        padding: 0.5rem;
        font-size: 1.2rem;
        @include ease-all;
      }

      button {
        @include set-background($primary-color);
        margin-left: 0.5rem;
        border: none;
        color: white;
        padding: 10px 12px;
        font-size: 1.5rem;
        cursor: pointer;

        &:hover {
          @include set-background($light-color);
          border-radius: 50px;
        }
      }
    }

    h1 {
      text-shadow: 1px 1px 2px $success-color, 0 0 1em $danger-color,
        0 0 0.2em $dark-color;
    }
  }
}
