// Showcase movie Section

.image-category-title {
  margin: 2rem 2rem 2rem 4rem;
  color: white;
}

.arrow-directional {
  width: 3rem;
  @include overlay;

  &:hover {
    @include set-background(lighten($background-color, 3%));
  }
}

.card {
  margin: 1rem;
  width: 13vw;
  height: 30vh;
  border-radius: 10px;
  @include ease-all;
  @include overlay;

  &:hover {
    transform: scale(1.4);
    cursor: pointer;
  }
}

.search-results-container {
  width: 100vw;
  height: 100vh;
  margin-top: 5rem;
  padding: 1.5rem;

  .search-results {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .search-item {
    margin: 0.5rem;
    padding: 0.2rem;
    width: 225px;
    height: 50vh;

    &:hover {
      cursor: pointer;
    }
  }
}
