// Showcase movie Section

.card {
  max-width: 20vw;
  height: auto;
  margin: 1rem;
  border-radius: 10px;

  img {
    width: 100%;
    border-radius: 10px;
  }

  .card-media {
    width: 20vw;
  }
}
