// Showcase movie Section

.card {
  width: 20vw;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 10px;

  img {
    width: 100%;
    border-radius: 10px;
  }

  .card-media {
    width: auto;
  }
}
