a {
  &:visited,
  &:active {
    color: set_text_color($primary_color);
  }
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 1.8rem;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}

h4 {
  font-size: 1.3rem;
  margin: 0;
}

h5 {
  font-size: 1.1rem;
  margin: 0;
}

p {
  font-size: 1rem;
  margin: 0;
}

.image-category-title {
  margin: 2rem 2rem 0 4rem;
  color: white;
}
