@import 'mixins';

.flex {
  @include flex;

  &-container {
    @include flex;
    @include m-p;

    &-fluid {
      @include flex;
      @include fluid;

      &.justify {
        &-center {
          @include flex;
          @include a-center;
          justify-content: center;
        }
        &-spaced {
          @include flex;
          @include a-center;
          justify-content: space-evenly;
        }
        &-between {
          @include flex;
          @include a-center;
          justify-content: space-between;
        }
      }

      &.direction {
        &-row {
          @include flex;
          @include m-p;
          flex-direction: row;

          &-nowrap {
            @include flex;
            @include m-p;
            flex-flow: row nowrap;
          }

          &-wrap {
            @include flex;
            @include m-p;
            flex-flow: row wrap;
          }
        }

        &-column {
          @include flex;
          @include m-p;
          flex-direction: column;

          &-nowrap {
            @include flex;
            @include m-p;
            flex-flow: row nowrap;
          }

          &-wrap {
            @include flex;
            @include m-p;
            flex-flow: row wrap;
          }
        }
      }
    }
  }

  &.landing {
    @include fluid;
  }
}

.container {
  width: 95vw;
  height: auto;

  &-fluid {
    @include fluid;
  }
}

// Backgrounds
.bg {
  &-primary {
    @include set-background($primary-color);
  }
  &-light {
    @include set-background($light-color);
  }
  &-dark {
    @include set-background($dark-color);
  }
  &-danger {
    @include set-background($danger-color);
  }
  &-success {
    @include set-background($success-color);
  }
  &-white {
    @include set-background(#ffffff);
  }
}
